@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Patrick+Hand&family=Permanent+Marker&family=Shadows+Into+Light&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Permanent+Marker&family=Shadows+Into+Light&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300&display=swap');

::-webkit-scrollbar{
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-button{
    background-color: rgb(15, 15, 15);
}
::-webkit-scrollbar-track{
    background-color: black;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(100, 100, 100);
}
::-webkit-scrollbar-corner{
    background-color: black;
}
::-webkit-scrollbar-track-piece{
    background-color: rgb(20, 20, 20);
}

*{
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: url("junak.png");
    background-repeat: no-repeat;
    background-size: 100vw 150vh;
    background-color: gray;
    min-width: 1800px;
    max-width: 1900px;
    height: 200vh;
    width: 100vw;
}
.header{
    position: fixed;
    width: 1900px;
    top: 0;
    display: grid;
    grid-template-columns: 30% 1fr 1fr 1fr;
    background-color: rgba(0,0,0,0.2);
}
.header .logo{
    background-color: black;
    padding: 2% 10% 2% 65%;
}
.header .galeria, .kontakt, .katalog{
    font-size: 3em;
    margin-top: 3%;
    text-decoration: none;
    text-align: center;
    color: white;
    text-shadow: 0 0 5px rgba(0,0,0,0.6);
    font-family: 'Caveat', cursive;
}
.galeria:hover, .kontakt:hover, .katalog:hover{
    text-decoration: underline;
    color: rgb(177, 177, 177);
}
.header span{
    font-size: 30px;
    margin-right: 10px;
}
.main .tekst{
    margin-top: 300px;
    margin-left: 100px;
    text-shadow: 0 0 10px black;
    font-family: 'Red Hat Display', sans-serif;
    font-style: italic;
    background-color: rgba(0,0,0,0.2);
    box-shadow: 0 0 25px rgba(0,0,0,0.4);
    margin-bottom: 150px;
}
.main .tekst h1{
    font-size: 6em;
    color: rgb(235, 235, 235);
    font-weight: 600;
}
.main .tekst p{
    color: rgb(224, 224, 224);
    margin-top: 20px;
    font-size: 3em;
    font-weight: 200;
}
.main .button{
    margin-bottom: 570px;
    margin-left: 44%;

}
.main .button button{
    padding: 20px;
    border-radius: 20px;
    border: solid 1px black;
    box-shadow: 0 0 10px black;
    font-size: 25px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 600;
}
.main .button button:hover{
    box-shadow: 0 0 25px white;
    
}
.opis{
    margin-left: 50px;
    margin-top: 100vh;
    
}
.opis h1{
    font-family: 'Archivo Black', sans-serif;
    font-size: 40px;
    text-shadow: 0 0 5px rgb(70, 70, 70);
}
.opis p{
    font-family: 'Akaya Telivigala', cursive;
    font-size: 25px;
}
.opis li{
    font-family: 'Akaya Telivigala', cursive;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0 0 5px rgb(70, 70, 70);
}
.opis h2{
    font-family: 'Aleo', serif;
    text-shadow: 0 0 5px rgb(70, 70, 70);
    font-weight: 900;
}